.App {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.player {
  margin: 20% auto;
  position: relative;
}

svg {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -10;
}
